anyio==4.13.0
asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
distlib==0.3.9
Django==5.1.6
env==0.1.0
filelock==3.17.0
flet==0.85.3
flet-desktop==0.85.3
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
msgpack==1.2.0
oauthlib==3.3.1
packaging==26.2
pillow==11.1.0
platformdirs==4.3.6
repath==0.9.0
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.1
whitenoise==6.12.0
